.homeOverlay{
    background-image: url("https://www.pngmagic.com/product_images/blue-background-images-for-websites.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}